################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/api/RadioShack.API/.vs/RadioShack.API
/src/api/RadioShack.API/RadioShack.API/bin/Debug/net8.0
/src/api/RadioShack.API/RadioShack.API/obj
